*{
    margin:0px;
    padding:0px;
    
}

body{
    background-color:#eaecf1;
}

.outerbox{
    width:900px;
    height:300px;
    margin:auto;
    position: relative;
    top:200px;
    display: flex;
}

#box1{
    margin-top: 50px;;
    width:500px;
    height:300px;
    display: inline-block;
}

.separation{
    width:30rem;
    height:10rem;
}

#image{
    width:18.5em;
    height:3.6em;
    background-image:url(LOGO.png) ; 
    background-size:cover;  
}

#span{
    margin-top:25px;
}

#box2{
    width:300px;
    height:300px;
    background-color: white;
    border:1px solid transparent;
    border-radius:7px;
    box-shadow: 10px 10px 5px 5px rgb(188, 187, 187);
}

.input{
    width:270px;
    height:33px;
    margin:10px;
    border:1px solid rgb(220, 215, 215);
    border-radius: 4px;
    font-size:18px;
    padding:5px;
}
.input:hover{
    border:2px solid aqua;
}
.input:focus-visible{
    border:2px solid aqua;
}

#button{
    border:none;
    height:35px;
    width: 280px;
    padding:5px;
    background-color: #2196f3;
    color:white;
    font-weight:bold;
}

#button:hover{
    background-color: #1a78c4;
}

.span{
    margin:auto;
    width: 280px;
    text-align:center;
    color:#2196f3;
}

hr{
    width:280px;
    margin:auto;
}

#new_account{
    border:none;
    height:45px;
    padding:5px;
    background-color: #27f118;
    color:white;
    font-weight:bolder;
    margin-left:80px;
    border-radius: 5px;
}

#new_account:hover{
    background-color: #1fc313;

}